<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<!--<listeners>
		<listener class-name="Utils.Reporter1"></listener>
	</listeners>-->
  <test thread-count="5" name="Testlogin">
    <classes>
      <class name="Testcase.LoginTest"/>
      </classes>
  </test> <!-- Test -->
  <test name="Testcontact">
	  <classes>
		   <class name="Testcase.ContactTestcase"/>
	  </classes>
  </test>
    <test name="Testlogout">
	  <classes>
		   <class name="Testcase.LogoutTestcase"/>
	  </classes>
  </test>
</suite> <!-- Suite -->
